.m-l-5 {
    margin: 0 0 0 5px;
}

.m-r-5 {
    margin: 0 5px 0 0px;
}

.btn-light-hover:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    transition: all .3s ease;
}